{% extends 'base.html.twig' %}

{% block body %}
    <h3>Idea list :</h3>

    <form method="GET">
        <input type="text" name="search" placeholder="Recherche"/>
    </form>

    <table class="table table-striped">
        <tr>
            <th><a href="{{ path('list_ordered', {'orderParam': 'title'}) }}">Titre</a></th>
            <th>Categorie</th>
            <th><a href="{{ path('list_ordered', {'orderParam': 'dateCreated'}) }}">Crée le</a></th>
            <th></th>
        </tr>
        {% for idea in ideas %}
            <tr>
                <td>
                    <a href="{{ path('detail', {'id':idea.id}) }}">{{ idea.title }}</a>
                </td>
                <td>
                    {{ idea.category.name }}
                    {#{{ idea.getCategory().getName() }}#}
                </td>
                <td>
                    {# https://twig.symfony.com/doc/2.x/functions/date.html #}
                    {% if idea.dateCreated > date('-1day') %}
                        <strong>{{ idea.dateCreated | date('d/m/Y') }}</strong>
                    {% else %}
                        {{ idea.dateCreated | date('d/m/Y') }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('form', {'id':idea.id}) }}">Edit</a><br/>
                    <a href="{{ path('delete', {'id':idea.id}) }}">Delete (avec des redirection)</a><br/>


                    <a href="#" onclick="$.ajax('{{ path('delete', {'id':idea.id}) }}').done(function(){location.reload()}); ">Delete (mais en AJAX)</a>


                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}